



<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h3 class="mt-4 mb-3">
        Government Contracts
    </h3>
  
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active">Government Contracts</li>
    </ol>
    <div class="col-md-12">
      <img class="img-fluid" src= 'assets/images/government.jpg' alt="">
    </div>
    
    <p>
        The company undertakes government contracts related to railway ministry,
        forest ministry, etc. The Transportation of high value government products like timber,
        optical fibre, coal, etc. is done.
        The company also works with government and semi-government
        organization for manpower supply is different fields. The company is newly entered in the 
        business of manpower supply of skilled, semi-skilled, unskilled workers in different work
        field for government and semi government organizations.

    </p>
  
  </div >
  <!-- /.container -->
  
