<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h3 class="mt-4 mb-3">
    Transportation
  </h3>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="index.html">Home</a>
    </li>
    <li class="breadcrumb-item active">Transportation</li>
  </ol>
  <div class="row">


    <div class="col-md-12">
      <img class="img-fluid" src= 'assets/images/transportation.jpg' alt="">
    </div>
    
  <p>
    Transportation
 The company has a wide network all over India. And has an experience of more
than 25 years in the business. The company has a group of 250+ attached fleets.
 Company has a good reputation in the business and works with many reputed
and multi-national company. Company undertakes the transportation of consignment
form 1km to 1000+kms all over India.
 The specialization is transportation of Full Truck Loads, Part loads, ODC
consignments and operations through Multi-modal services. Company has own fleet which
operate for transportation of high-value cargo. Has proven experience in carrying FMCG,
Food Products, Machinery, Engineering Goods, Glass, Steel, Auto Accessories, Boilers and
ODC consignments.
  </p>

</div >
<!-- /.container -->

</div>