<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h3 class="mt-5 mb-3">
    Services    
  </h3>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="index.html">Home</a>
    </li>
    <li class="breadcrumb-item active">Services</li>
  </ol>

 

<hr>
  <!-- Project One -->
  <div class="row">
    <div class="col-md-7">
      <a href="#">
        <img class="img-fluid rounded mt-5" src='assets/images/transportations.jpg' alt="transportation">
        <!-- <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x400" alt=""> -->
      </a>
    </div>
    <div class="col-md-5">
      <h3 class="heading">Transportation</h3>

      <p class="text-justify">  Transportation
        The company has a wide network all over India. And has an experience of more
       than 25 years in the business. The company has a group of 250+ attached fleets.
        Company has a good reputation in the business and works with many reputed
       and multi-national company. Company undertakes the transportation of consignment
       form 1km to 1000+kms all over India.
        The specialization is transportation of Full Truck Loads, Part loads, ODC
       consignments and operations through Multi-modal services. Company has own fleet which
       operate for transportation of high-value cargo. Has proven experience in carrying FMCG,
       Food Products, Machinery, Engineering Goods, Glass, Steel, Auto Accessories, Boilers and
       ODC consignments.</p>
      <!-- <a class="btn btn-primary" href="#">View Project
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a> -->
    </div>
  </div>
  <!-- /.row -->

  <hr>
 <!-- Project Two -->
 <div class="row">
  <div class="col-md-5">
    <h3 class="heading">Container & Warehousing</h3>
    <p class="text-justify"> Sahakar group has warehousing space in key locations across the country.
       As part of our basket of services enabling you to reduce overheads, increase efficiency and cut down
        valuable management time. Storage, consolidation, repacking, documentation, labeling, invoicing, 
        finished and spares inventory management, distribution and service support. As part of our basket o
        f services enabling you to reduce overheads, increase efficiency and cut down valuable management 
        time.
        • Modern well-equipped and scientific warehouses. <br>
        • Adequate insured private warehousing space. <br>
        • Safe storage of goods. <br>
        • In plant Warehouse Management.<br>
        • Control checks on entry & exit of goods. <br>
      </p>
    <!-- <a class="btn btn-primary" href="#">View Project
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a> -->
  </div>
  <div class="col-md-7">
    <a href="#">
      <img class="img-fluid rounded mt-5" src= 'assets/images/containers.jpg' alt="Container & Warehousing">
      <!-- <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x400" alt=""> -->
    </a>
  </div>
</div>
<!-- /.row -->

<hr>

<!-- Project Three -->
<div class="row">
  <div class="col-md-7">
    <a href="#">
      <img class="img-fluid rounded mt-5" src= 'assets/images/governments.jpg' alt="Government Contracts">
      <!-- <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x400" alt=""> -->
    </a>
  </div>
  <div class="col-md-5">
    <h3 class="heading">Government Contracts</h3>
    <p class="text-justify">The company undertakes government contracts related to railway ministry, forest ministry, etc. The Transportation of high value government products like timber, optical fibre, coal, etc. is done. The company also works with government and semi-government organization for manpower supply is different fields. The company is newly entered in the business of manpower supply of skilled, semi-skilled, unskilled workers in different work field for government and semi government organizations. </p>
   
  </div>
</div>
<!-- /.row -->
<hr/>
<!-- Project Four -->
<div class="row">
  <div class="col-md-5">
    <h3 class="heading">Tours & Travels</h3>
    <p class="text-justify">Company has a full-service travel agency dedicated in providing totally reliable and
       practical tour and travel solutions as it offers most competitive rates in the market. Company introduced
        the service in year 2015.And is having a successful experience of 5+ years in the travel business with 3
        branches and 10+ professional and trained employee. We expertly handle local and international travel 
        services; including airline reservations, special and customized tours from simple to unique destinations
        for business or pleasure trips, hotel accommodations as well as car rentals. Since the inception,
        this company has made its name as the travel company signifying reliability and quality, a benchmark for 
        the people, who like to travel in complete assistance and also want to rely on discreet and constant 
        assistance. By successfully operating in the medium-high end of the travel industry, we have won the 
        confidence of a highly demanding and exclusive client base.
      </p>
   
  </div>
  <div class="col-md-7">
    <a href="#">
      <img class="img-fluid rounded mt-5" src= 'assets/images/tours.jpg' alt="Tour and Travels">
      <!-- <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x400" alt=""> -->
    </a>
  </div>
</div>
<!-- /.row -->

</div>