<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h3 class="mt-5 mb-3">About
  </h3>

  <div class="col-md-16">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active">About us</li>
    </ol>
  </div>
 <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-12">
        <img class="img-fluid" src= 'assets/images/profile.jpg' alt="About us">
      </div>
      <div class="col-lg-12 mt-3">
        <h3 class="heading">About Business</h3>
       <p class="text-justify">The SAHAKAR GROUP specialization is transportation of Full Truck Loads, ODC consignments
         and operations through Multi-modal services. Company has own fleet which operate for transportation of high-value
         cargo and has a large fleet of 250 attached trucks. COMPANY’S core team consists of trained professionals in
         the field of logistics, marketing, finance and operations, who are capable of handling challenging assignments 
         in the most competitive environment. The Company considers human resource as the most valuable and vital asset 
         and the personnel are trained continuously to upgrade their skills and knowledge-base to meet the challenges 
         and demands of customers in a highly competitive milieu. Company understands customer’s specific requirements
         and suggests innovative and tailor-made solutions as the core team has the complete know-how and expertise
         to move goods of unconventional nature, goods that are required special care and attention. The parent company
         New Sahakar Roadlines has its strong network in South India. And is working for more than 25 successful years 
         in the business with 100% assurance of safe and fast delivery of the consignment. N S Logistics founded in the
         year 2016 with the purpose of spreading the company’s network all over India. With increasing the branch and 
         employee the company now has a strong network across all states in India.</p>
      </div>
    </div>
<hr> 

<div class="row">
  <div class="col-lg-6 portfolio-item">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="assets/images/mission.jpg" alt=""></a>
      <div class="card-body">
        <h4 class="card-title" class="heading">
          Mission
        </h4>
        <div>
          <p class="text-justify">
          • Offering the best-in-class integrated transport solutions that will help companies
          to manage the supply chain processes seamlessly.<br>
        • Offer end to end integrated transport solutions across multiple industry verticals
            with a creative approach in providing innovative solutions.<br>
        • Service Mission is to work  towards <b> delivering the right goods, at the right time, to the
            right place, at the right cost, each time and every time.</b><br>
          </p>
        </div>
      </div>
    </div>
  </div>
 
  <div class="col-lg-6 portfolio-item">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="assets/images/vision.jpg" alt=""></a>
      <div class="card-body">
        <h4 class="card-title" class="heading">
          Our Vision
        </h4>
       <div>
        <b> "We will ensure that any material carried by us will be delivered safely with the utmost
          care and reliability. Let trust and reliability not be mere words but the basis of customer
          confidence for years to come.”</b> <br>
          • To migrate from a trucking service provider to a transport solutioning company and
          become the industry leader in the years to come.
       </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8 offset-2 portfolio-item">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="assets/images/strength.jpg" alt=""></a>
      <div class="card-body">
        <h4 class="card-title" class="heading">
          Strengths and Capabilities
        </h4>
        <div>
          <p class="text-justify">
          <b> SAHAKAR GROUP is a professionally managed organization.</b>  <br>
          • Has two and half decades of proven track record for efficient, dependable, loyal and
            dedicated services. <br>
          • Has a robust infrastructure. <br>
          • Has a strong and a sound financial background and countrywide network with
            branches located in all important and strategic business locations. <br>
          • Has own trucks and 250 attached trucks. <br>
          • Has proven experience in carrying FMCG, Food Products, Machinery, Engineering
            Goods, Glass, Steel, Auto Accessories, Boilers and ODC consignments. <br>
          • Consignments tracked by equipment based on Global Positioning System (GPS). <br>
          • Timely placement of trucks as per customer’s requirements. <br>
          • Feedback on truck movements, Delivery status and MIS. <br>
          • Speed and safe delivery of the consignments. <br>
          • Drivers are provided with mobile phones and 24/7 Assistance. <br>
          • Capability of handling any volumes and heavy machinery of 10 MT to 35 MT per unit. <br>
          • Capable of transporting from 1000mtrs to 1000kms and more. <br>
        </p>
        </div>
        
      </div>
    </div>
  </div>
  
</div>

</div>
<!-- /.container -->


      
