<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h3 class="mt-4 mb-3">Profile
  </h3>

  <div class="col-md-16">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active">Profile</li>
    </ol>

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-12">
      <img class="img-fluid" src= '../../../assets/images/profile.jpg' alt="">
    </div>
    


     <br> <p>
                
        The SAHAKAR GROUP specialization is transportation of Full Truck Loads, ODC
        consignments and operations through Multi-modal services. Company has own fleet
        which operate for transportation of high-value cargo and has a large fleet of 250 attached
        trucks.
        COMPANY’S core team consists of trained professionals in the field of logistics,
        marketing, finance and operations, who are capable of handling challenging assignments
        in the most competitive environment. The Company considers human resource as the
        most valuable and vital asset and the personnel are trained continuously to upgrade their
        skills and knowledge-base to meet the challenges and demands of customers in a highly
        competitive milieu.
        Company understands customer’s specific requirements and suggests
        innovative and tailor-made solutions as the core team has the complete know-how and
        expertise to move goods of unconventional nature, goods that are required special care
        and attention.
        The parent company New Sahakar Roadlines has its strong network in South
        India. And is working for more than 25 successful years in the business with 100%
        assurance of safe and fast delivery of the consignment.
        N S Logistics founded in the year 2016 with the purpose of spreading the
        company’s network all over India. With increasing the branch and employee the company
        now has a strong network across all states in India.
      </p>
    
    </div>

  </div>
  <!-- /.row -->

  

</div>
<!-- /.container -->


      
