  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h3 class="mt-5 mb-3">Strengths & Capabilities/Vision/Mission

    </h3>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active">Strengths & Capabilities/Vision/Mission</li>
    </ol>

    <div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Strengths and Capabilities</a>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
          <div class="card-body">
           <b> SAHAKAR GROUP is a professionally managed organization.</b>  <br>
            • Has two and half decades of proven track record for efficient, dependable, loyal and
              dedicated services. <br>
            • Has a robust infrastructure. <br>
            • Has a strong and a sound financial background and countrywide network with
              branches located in all important and strategic business locations. <br>
            • Has own trucks and 250 attached trucks. <br>
            • Has proven experience in carrying FMCG, Food Products, Machinery, Engineering
              Goods, Glass, Steel, Auto Accessories, Boilers and ODC consignments. <br>
            • Consignments tracked by equipment based on Global Positioning System (GPS). <br>
            • Timely placement of trucks as per customer’s requirements. <br>
            • Feedback on truck movements, Delivery status and MIS. <br>
            • Speed and safe delivery of the consignments. <br>
            • Drivers are provided with mobile phones and 24/7 Assistance. <br>
            • Capability of handling any volumes and heavy machinery of 10 MT to 35 MT per unit. <br>
            • Capable of transporting from 1000mtrs to 1000kms and more. <br>
            
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingTwo">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" 
            aria-expanded="false" aria-controls="collapseTwo">Vision Statement
            </a>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="card-body">
                        
           <b> "We will ensure that any material carried by us will be delivered safely with the utmost
            care and reliability. Let trust and reliability not be mere words but the basis of customer
            confidence for years to come.”</b> <br>
            • To migrate from a trucking service provider to a transport solutioning company and
            become the industry leader in the years to come.

          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingThree">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" 
            aria-expanded="false" aria-controls="collapseThree">Mission Statement</a>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="card-body">
                    
        • Offering the best-in-class integrated transport solutions that will help companies
          to manage the supply chain processes seamlessly.<br>
        • Offer end to end integrated transport solutions across multiple industry verticals
            with a creative approach in providing innovative solutions.<br>
        • Service Mission is to work k towards delivering the right goods, at the right time, to the
            right place, at the right cost, each time and every time.<br>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

















