
  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('../../../assets/images/index3.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>First Slide</h3>
            <p>This is a description for the first slide.</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('../../../assets/images/index 4.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Second Slide</h3>
            <p>This is a description for the second slide.</p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('../../../assets/images/index 1.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Third Slide</h3>
            <p>This is a description for the third slide.</p>
          </div>
        </div>
        <div class="carousel-item" style="background-image: url('../../../assets/images/index 2.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>fourth Slide</h3>
            <p>This is a description for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item" style="background-image: url('../../../assets/images/index 5.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>fifth Slide</h3>
            <p>This is a description for the first slide.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>
<br>

<div class="container">


    <!-- Features Section -->
    <div class="row">
      <div class="col-lg-12">
        
        <p>
            A well-established business group, SAHAKAR Group took shape as a far-sighted venture conceived
            and impeccably accomplished by visionary promoters.
            SAHAKAR Group is providing support in Logistics & Transportation, Warehousing/ Distribution,
            Government contracts, Tours & Travels. The Group has a big PAN India network in the Business.
            The parent company, NEW SAHAKAR ROADLINE, was founded in the year 1996 by the Visionary
            Shri HINDURAO GANPAT MORE. The Company has more than 25 years of multifaceted industry
            experience and expertise.
            SAHAKAR GROUP operates with the Head Office at NAVI MUMBAI and 4 Branches at strategic
            locations across the Country. The Company has total of 15+ professional and expert employees to
            make speed and safe on time Delivery of consignment.

        </p>
      </div>
      <!-- <div class="col-lg-6">
        <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
      </div> -->
    </div>
    <hr>
  </div>