

<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h3 class="mt-4 mb-3">
      Container & Warehousing
    </h3>
  
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active">Container & Warehousing</li>
    </ol>


    <div class="col-md-12">
      <img class="img-fluid" src= 'assets/images/container.jpg' alt="">
    </div>
  
    <p>
        Sahakar group has warehousing space in key locations across the country. As part of
        our basket of services enabling you to reduce overheads, increase efficiency and cut down valuable
        management time. Storage, consolidation, repacking, documentation, labeling, invoicing, finished
        and spares inventory management, distribution and service support.
        As part of our basket of services enabling you to reduce overheads, increase
        efficiency and cut down valuable management time. <br>
        • Modern well-equipped and scientific warehouses. <br>
        • Adequate insured private warehousing space. <br>
        • Safe storage of goods. <br>
        • In plant Warehouse Management.<br>
        • Control checks on entry & exit of goods. <br>
    </p>
  
  </div >
  <!-- /.container -->
  
 